<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>OAuth2 Authorization</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <style>
        body { padding-top:80px; }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-offset-3">
                <h4>
                    By logging in, you allow
                    <b>
                        <%= client_name %>
                    </b>
                    to access (<b>read-only</b>):
                </h4>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-offset-3">
                <ul class="list-group">
                    <li class="list-group-item"><i class="far fa-user"></i> &nbsp;&nbsp; your personnal information
                        (first, last and username, email) </li>
                    <li class="list-group-item"><i class="fas fa-chalkboard-teacher"></i> &nbsp;&nbsp; every board you
                        are a member of</li>
                    <li class="list-group-item"><i class="far fa-address-card"></i> &nbsp;&nbsp; every card you were
                        affected to</li>
                </ul>

            </div>
        </div>

        <br>
        <hr>
        <br>

        <div class="row justify-content-center">
            <h3>Login</h3>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6 col-offset-3">

                <form action="/oauth/authorize?response_type=<%= response_type %>&client_id=<%= client_id %>&scope=<%= scope %>&redirect_uri=<%= redirect_uri %>&state=<%= state %>"
                    method="post">
                    <div class="form-group">
                        <label>Username or email</label>
                        <input type="text" class="form-control" name="credential" placeholder="FancyUsername || email@prellone.com"
                            autocomplete="email usrname">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="********">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>